header {
    height: 6rem;
    color: white;
    background-color: black;
}

header li {
    display: inline;
    padding-inline: .25rem;
}

header li:hover {
    color: yellow;
}

header li:active {
    color: blue;
}