header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    color: white;
    background-color: black;
    padding-inline: 3rem;
}

header li {
    display: inline;
    padding-inline: .25rem;
}

header li:hover {
    color: yellow;
}

header li:active {
    color: blue;
}